p {
    width: 620px;
}

h1 {
    font-family: "Lucida Console"; font: bold; font-size: large;
}

body {
    background-color: beige;
}

h2, h3 { 
    color: orangered; font: bold; 
}

p {
    color: brown;
}

ul {
    font-family: "Papyrus";
}

ol {
    font-family: "Papyrus";
}

/* input:checked + label{text-decoration: line-through;} */

.checked {
    text-decoration: line-through;
}